-- Add default_weightage to skills table
ALTER TABLE skills ADD COLUMN default_weightage FLOAT DEFAULT 10.0;

-- Add weightage to job_skills junction table
ALTER TABLE job_skills ADD COLUMN weightage FLOAT DEFAULT 10.0;
